div {
  display: block;
}
.topnav {
  display:flex;
  width:100%;
  background-color: #282A35;
  color: #F1F1F1;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content:center;
  align-items:center;
  font-size:30px
}

.popup .overlay {
  position:fixed;
  top: 0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:450px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
}

.popup .close-btn {
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25ox;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}
.accordion {
       /* Border */
border: 1px solid rgba(0, 0, 0, 0.3);
 border-bottom-color: transparent;
  border-radius: 4px;
}

.accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.accordion__header {
  /* Center the content horizontally */
  align-items: center;
  display: flex;

  cursor: pointer;
  padding: 16px;
}

.accordion__toggle {
  margin-right: 12px;
}

.accordion__title {
  /* Take remaining width */
  flex: 1;
}

.accordion__content {
/* For not selected item */
  display: none;
  
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 16px;
}

.accordion__content--selected {
  /* For selected item */
  display: block
}
